.container {
  background-color: #F6F6F6;
}
.shopCar {
  width: 1100px;
  margin: 70px auto 0;
  font-family: "Microsoft YaHei";
}
/*
*shopCar title
*/
.shopCarTitle {
  height: 65px;
  line-height: 65px;
  letter-spacing: 2px;
  font-size: 14px;
  color: #858585;
  margin-bottom: 25px;
}
.shopCarTitle a {
  color: #858585;
}
.shopCarTitle span {
  margin-left: 5px;
  margin-right: 5px;
}
.shopCarList {
  border: 1px solid #999999;
  border-radius: 3px;
  margin-bottom: 50px;
}
.shopCarList table {
  width: 100%;
  border-collapse: collapse;
}
.shopCarList table tr {
  height: 125px;
  border-bottom: 1px solid #d2d2d2;
}
.shopCarList table thead tr {
  height: 60px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  font-size: 16px;
}
.shopCarList table thead tr th:first-child {
  width: 71px;
  padding-left: 23px;
}
.shopCarList table thead tr th:nth-child(2) {
  width: 123px;
}
.shopCarList table thead tr th:nth-child(3) {
  width: 288px;
}
.shopCarList table thead tr th:nth-child(4) {
  width: 130px;
}
.shopCarList table thead tr th:nth-child(5) {
  width: 114px;
}
.shopCarList table thead tr th:nth-child(6) {
  width: 106px;
}
.shopCarList table thead tr th:nth-child(7) {
  width: 114px;
}
.shopCarList table thead tr th:nth-child(8) {
  width: 132px;
}
.shopCarList table tbody {
  font-size: 14px;
}
.shopCarList table tbody tr td {
  text-align: center;
}
.shopCarList table tbody tr td.img img {
  width: 80px;
  height: 80px;
}
.shopCarList table tbody tr td.shopInfo {
  text-align: left;
}
.shopCarList table tbody tr td.shopChoice p:first-child {
  width: 120px;
  padding-bottom: 10px;
}
.shopCarList table tbody tr td.shopChoice p:first-child select {
  font-size: 12px;
  width: 100%;
  height: 25px;
  background-color: #F6F6F6;
  padding: 0 4px;
}
.shopCarList table tbody tr td.shopChoice p:last-child button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  margin: 2px;
}
.shopCarList table tbody tr td.shopChoice p:last-child input {
  width: 42px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  margin: 2px;
  text-align: center;
}
.shopCarList table tbody tr td.red {
  color: red;
}
.shopCarList table tbody tr td:last-child img {
  width: 25px;
  height: 25px;
}
.shopCarList .shopCarBottom {
  background-color: #eeeeee;
  height: 180px;
}
.shopCarList .shopCarBottom .shopCarBottomLt {
  width: 930px;
}
.shopCarList .shopCarBottom .shopCarBottomLt .shopCarBottomText {
  margin-top: 40px;
  margin-right: 30px;
  font-size: 16px;
}
.shopCarList .shopCarBottom .shopCarBottomLt .shopCarBottomText .totalPrice {
  height: 60px;
  line-height: 60px;
}
.shopCarList .shopCarBottom .shopCarBottomLt .shopCarBottomText .totalAmount {
  text-align: right;
}
.shopCarList .shopCarBottom .shopCarBottomLt .shopCarBottomText .totalAmount span {
  color: red;
}
.shopCarList .shopCarBottom .shopCarBottomRt a {
  color: #fff;
  display: block;
  width: 100px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background-color: #E73736;
  margin: 65px 35px 0 0;
}
.shopCarList .shopCarBottom:after {
  content: "";
  display: block;
  clear: both;
}
